<dom-module id="unround-combo-box-styles" theme-for="vaadin-combo-box">
    <template>
        <style>
            :host(.unround) [part="text-field"] {
                --unround-combo-box-border-radius: 0px;
            }
        </style>
    </template>
</dom-module>

<dom-module id="unround-combo-box-textfield-styles" theme-for="vaadin-text-field">
    <template>
        <style>
            [part="input-field"] {
                border-radius: var(--unround-combo-box-border-radius, var(--lumo-border-radius)) !important;
            }
        </style>
    </template>
</dom-module>
